
doctype html
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		link( rel="stylesheet", media="screen", href="styles/main.css")

	body.home
		.top(style="background-image:url('http://www.newyorkerfilms.com/administrator/movie_images/1312219817To_Be_07.jpg'); ")
			.scrim
			.header
				.logo Ed Films
			.featured
				.row
					.poster(style="background-image:url('http://www.newyorkerfilms.com/administrator/movie_posters/1312219817To_Be_and_to_have_poster_1.jpg')")
					.column
						.bold.faded60.upcase Next Screening
						.film-title To Be and To Have
						p.desc In rural France, schoolteacher Georges Lopez educates 12 children, whose ages range from 4 to 11 years old. Over the course of a year, the soon-to-retire Lopez instructs them all in one small classroom with the traditional tools of French teaching: rote repetition and the dictation of literary passages for copying. As the seasons pass, Lopez must keep his students disciplined while preparing the older children for the exams that will determine their educational future.
						.ratings.row.space-around
							.imdb.center.flex.column
								.value 7.9
								.title IMDb
							.rotten-tomatoes.center.flex.column
								.value 97%
								.title Rotten Tomatoes
					.flex1
					.meta.col-xs-4.col-sm-12
						.row
						.date June 1st
						.time 7-9PM
						.location @Roxie Theater
						a.button.green(href="https://www.eventbrite.com/e/to-be-and-to-have-education-documentary-screening-tickets-25277609009", title='Get Tickets for To Be and To Have', target="_blank") Get Tickets
						.play-trailer.row.center.openVideoModal
							.play-icon
								.triangle
							span.h2 Play trailer


		section.screenings
			h3 All Screenings
			.row.space-around
				a.film(href="https://www.eventbrite.com/e/most-likely-to-succeed-film-screening-tickets-19941746300", title='"Most Likely to Succeed" — Education Documentary Screening')
					.poster(style="background-image:url('https://www.whalingmuseum.org/sites/default/files/images/Programs/most-likely-to-succeed_poster.jpg')")
					.title Most likely to Scuceed
					.date May 12, 2016
				a.film(href="https://www.eventbrite.com/e/to-be-and-to-have-education-documentary-screening-tickets-25277609009", title='"To Be and to Have" — Education Documentary Screening')
					.poster(style="background-image:url('http://www.newyorkerfilms.com/administrator/movie_posters/1312219817To_Be_and_to_have_poster_1.jpg')")
					.title To Be and To Have
					.date June 1, 2016
				a.film.add-film(href="mailto:contact@ed-films.com?subject=Education Screening Recommendation", title="Rcommend us a screening")
					.poster
						.plus +
						span Recommend a Screening
				.film

		section.subscribe.flex.center.column
			h3 Keep me posted with new screenings

			form.row.space-between(action='http://bernatfortet.us7.list-manage.com/subscribe/post', method='POST')
				input(type='hidden', name='u', value='85fa9b289574f17996df3126d')
				input(type='hidden', name='id', value='ce7a2cbff2')

				input(placeholder="you@mail.com", name='MERGE0')
				input.button.black-button.flex.center(type='submit', value="Subscribe")




		footer
			h3 Get In touch
			h2
				a(href="mailto:contact@ed-films.com", title='Contact Ed Films', target="_blank") contact@ed-films.com

		#Scripts
			script( src="scripts/lib/jquery.min.js" )
			script( src="scripts/app.js", type"text/javascript")


			script( src="scripts/ga.js" )