doctype html
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		link( rel="stylesheet", media="screen", href="styles/main.css")

	body.home
		.top(style="background-image:url('http://www.newyorkerfilms.com/administrator/movie_images/1312219817To_Be_07.jpg'); ")
			.scrim
			//.header
				h1.logo Ed Films
			.featured
				.row
					.col-xs-4
						.poster(style="background-image:url('http://www.newyorkerfilms.com/administrator/movie_posters/1312219817To_Be_and_to_have_poster_1.jpg')")
					.col-xs-4
						.bold.faded60.upcase Next Screening
						.film-title To Be and To Have
						p.desc In rural France, schoolteacher Georges Lopez educates 12 children, whose ages range from 4 to 11 years old. Over the course of a year, the soon-to-retire Lopez instructs them all in one small classroom with the traditional tools of French teaching: rote repetition and the dictation of literary passages for copying. As the seasons pass, Lopez must keep his students disciplined while preparing the older children for the exams that will determine their educational future.
						.ratings
							.imdb
								.title IMDB
								.value 7.9
								.stars
							.rotten-tomatoes
								.title Rotten tomatoes
								.value 97%
								.freshness(style="background-position:0 0;")
					.meta.col-xs-4.col-sm-12
						.row
						.date June 1st
						.time 7-9PM
						.location @Roxie Theater
						.button.green Get Tickets
						.play-trailer
							.play-icon
								.triangle
							span Play trailer


		.screenings
			h3 All Screenings
			.row
				.film
					.poster(style="background-image:url('https://www.whalingmuseum.org/sites/default/files/images/Programs/most-likely-to-succeed_poster.jpg')")
					.title Most likely to Scuceed
					.date May 12, 2016
				.film
					.poster(style="background-image:url('http://www.newyorkerfilms.com/administrator/movie_posters/1312219817To_Be_and_to_have_poster_1.jpg')")
					.title To Be and To Have
					.date June 1, 2016

		.subscribe.flex.center.column
			.row
				h3 Keep me posted with new screenings
			.row.space-between
				input(placeholder="you@mail.com")
				.button.black-button Subscribe

		#Scripts
			script( src="scripts/lib/jquery.min.js" )
			script( src="scripts/app.js", type"text/javascript")


			script( src="scripts/ga.js" )